.csv-input {
  margin-left: 64px;
  border: '2px solid #000';
  width: 385px;
  padding: 5px 20px;
}

.react-csv-input {
  display: none;
}

.image-input-label {
  width: 200px;
}

.css-label {
  width: 200px;
}

#image_input {
  padding-top: 5px;
  border: none;
}

.box-span {
  background-color: #093a73;
  color: #fff;
  font-weight: 600;
  padding: 8px;
  border-radius: 3px;
  font-size: 24px;
  margin: 15px 10px;
  cursor: pointer;
}
